.Main-contents
  .Ranking
    .Ranking__title
      好きな主食
    .Ranking__first
      = icon('fas', 'crown',  class: "First")
      1位 : パン 
    .Ranking__second
      = icon('fas', 'crown',  class: "Second")
      2位 : ご飯
    .Ranking__third
      = icon('fas', 'crown',  class: "Third")
      3位 : ラーメン
    .Ranking__footer
      .Ranking-name
        a さん
      .Like-btn
        いいね
  .Ranking
    .Ranking__title
      旅行に行きたい県
    .Ranking__first
      = icon('fas', 'crown',  class: "First")
      1位 : 東京 
    .Ranking__second
      = icon('fas', 'crown',  class: "Second")
      2位 : 熊本
    .Ranking__third
      = icon('fas', 'crown',  class: "Third")
      3位 : 高知

-# <% if !current_user?(micropost.user) %>
-#     <span class="like">
-#     <% if micropost.iine?(current_user) %>
-#       <%= form_for(micropost.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
-#         <%= button_tag(class: "btn btn-default btn-xs") do %>
-#           <%= content_tag :span, "#", class: "glyphicon glyphicon-heart" %>
-#         <% end %>
-#       <% end %>
-#     <% else %>
-#       <%= form_for(micropost.likes.build, remote: true) do |f| %>
-#         <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
-#         <%= button_tag(class: "btn btn-default btn-xs") do %>
-#           <%= content_tag :span, "#", class: "glyphicon glyphicon-heart-empty" %>
-#         <% end %>
-#       <% end %>
-#     <% end %>
-#   </span>
-# <% end %>