.Main-contents
  .RankingField
    - unless action_name == "show"
      = render "ranking"
    - else
      .Ranking{:style => "background-image: url(#{@ranking.image});"}
        = link_to ranking_path(@ranking.id) do
          .Ranking__title
            %span= @ranking.title
            %span ランキング
        .Ranking__first
          = icon('fas', 'crown',  class: "First")
          1位 :
          = @ranking.rank1
        .Ranking__second
          = icon('fas', 'crown',  class: "Second")
          2位 :
          = @ranking.rank2
        .Ranking__third
          = icon('fas', 'crown',  class: "Third")
          3位 :
          = @ranking.rank3
        .Ranking__footer
          .Ranking-name
            投稿者:
            = @ranking.user.name
          - if user_signed_in?
            - if current_user.id == @ranking.user_id
              .Like
                - if @ranking.likes_count.nil?
                  = icon('fas', 'star', class: 'yes')
                  %span いいね 0
                - elsif @ranking.likes_count == 0
                  = icon('fas', 'star', class: 'yes')
                  %span いいね
                - else
                  = icon('fas', 'star', class: 'no')
                  %span いいね
                %span= @ranking.likes_count
              = link_to "編集", edit_ranking_path(@ranking.id), class: "Edit-btn"
              = link_to '削除', ranking_path(@ranking.id), method: :delete, class: "Delete-btn", data: { confirm: "#{@ranking.title}ランキングを削除しますか？" }
            - else
              .Like
                %span{id: "rankings_buttons_#{@ranking.id}"}
                  = render partial: 'rankings/like_area', locals: { ranking: @ranking }
          - else
            .Like
              - if @ranking.likes_count.nil?
                = icon('fas', 'star', class: 'yes')
                %span いいね 0
              - elsif @ranking.likes_count == 0
                = icon('fas', 'star', class: 'yes')
                %span いいね
              - else
                = icon('fas', 'star', class: 'no')
                %span いいね
              %span= @ranking.likes_count
      .commentBox
        - if current_user
          = form_with(model: [@ranking, @comment], local: true, id: "new_comment") do |f|
            = f.text_area :text, placeholder: "コメントする", class: "commentBox__text"
            .commentBox__caution
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = button_tag type: "submit", class: "commentBox__submit" do
              %i.fa.fa-comment
              コメントする
        - else
          .commentBox__signin
            %p コメントの投稿には、
            = link_to "ログイン", new_user_session_path
            または
            = link_to "新規会員登録", new_user_registration_path
            が必要です
        %p.commentBox__head ＜コメント一覧＞
        .commentBox__index
          - if @comments
            - @comments.each do |comment|
              .commentBox__index__box
                %span.commentBox__index__box--name= comment.user.name
                - if comment.user.id == @ranking.user_id
                  %span.commentBox__index__box--send 投稿者
                %span.commentBox__index__box--date= comment.created_at.strftime("%Y-%m-%d %H:%M")
                %p.commentBox__index__box--text= comment.text