- if user_signed_in?
  - if ranking.like_by?(current_user)
    = link_to  ranking_likes_path(ranking.id), method: :delete, remote: true do
      = icon('fas', 'star', class: 'no')
      %span いいね
      %span= ranking.likes_count
  - else
    = link_to ranking_likes_path(ranking.id), method: :post, remote: true do
      - if ranking.likes_count.nil?
        = icon('fas', 'star', class: 'yes')
        %span いいね 0
      - else
        = icon('fas', 'star', class: 'yes')
        %span いいね
        %span= ranking.likes_count
