= page_entries_info(@rankings) 
- @rankings.each do |ranking| 
  .Ranking{:style => "background-image: url(#{ranking.image});"}
    = link_to ranking_path(ranking.id) do
      .Ranking__title
        %span= ranking.title
        %span ランキング
    .Ranking__first
      = icon('fas', 'crown',  class: "First")
      1位 :
      = ranking.rank1
    .Ranking__second
      = icon('fas', 'crown',  class: "Second")
      2位 :
      = ranking.rank2
    .Ranking__third
      = icon('fas', 'crown',  class: "Third")
      3位 :
      = ranking.rank3
    .Ranking__footer
      .Ranking-name
        投稿者:
        = ranking.user.name
      - if user_signed_in?
        - if current_user.id == ranking.user_id
          .Like
            - if ranking.likes_count.nil?
              = icon('fas', 'star', class: 'yes')
              %span いいね 0
            - elsif ranking.likes_count == 0
              = icon('fas', 'star', class: 'yes')
              %span いいね
            - else
              = icon('fas', 'star', class: 'no')
              %span いいね
            %span= ranking.likes_count
          = link_to "編集", edit_ranking_path(ranking.id), class: "Edit-btn"
          = link_to '削除', ranking_path(ranking.id), method: :delete, class: "Delete-btn", data: { confirm: "#{ranking.title}ランキングを削除しますか？" }
        - else
          .Like
            %span{id: "rankings_buttons_#{ranking.id}"}
              = render partial: 'rankings/like_area', locals: { ranking: ranking }
      - else
        .Like
          - if ranking.likes_count.nil?
            = icon('fas', 'star', class: 'yes')
            %span いいね 0
          - elsif ranking.likes_count == 0
            = icon('fas', 'star', class: 'yes')
            %span いいね
          - else
            = icon('fas', 'star', class: 'no')
            %span いいね
          %span= ranking.likes_count
= paginate(@rankings)