.Contents-row
  .container
    = form_with model: [@ranking], local: true do |f|
      - if @ranking.errors.any?
        .SettingGroupForm__errors
          %h2= "#{@ranking.errors.full_messages.count}件のエラーが発生しました。"
          %ul
            - @ranking.errors.full_messages.each do |message|
              %li= message
      .Form-items
        = f.text_field :title, class: 'Form-items__title', placeholder: 'タイトルを入力してください'
        = f.text_field :rank1, class: 'Form-items__rank', placeholder: '1位を入力してください'
        = f.text_field :rank2, class: 'Form-items__rank', placeholder: '2位を入力してください'
        = f.text_field :rank3, class: 'Form-items__rank', placeholder: '3位を入力してください'
        = f.label :image, class: 'Form-items__image' do
          = icon('far', 'image', class: 'Form-items__image-icon')
          = f.file_field :image, class: 'File'
      = f.submit 'Send', class: 'Send-btn'