.Contents-row
  .Header
    .Title
      = link_to root_path do
        なんでもランキング
  .Container
    .Send-title
      ランキング投稿
    = form_with model: [@ranking], local: true do |f|
      - if @ranking.errors.any?
        .Settinggroupform__errors
          %ul
            - @ranking.errors.full_messages.each do |message|
              %li= message
      .Form-items
        .Form-items__title
          .Form-items__title__name
            タイトルを入力してください
          = f.text_field :title, class: 'Form-items__title__box', placeholder: 'タイトルを入力'
        .Form-items__rank
          .Form-items__rank__name
            1位を入力してください
          = f.text_field :rank1, class: 'Form-items__rank__box', placeholder: '1位を入力'
        .Form-items__rank
          .Form-items__rank__name
            2位を入力してください
          = f.text_field :rank2, class: 'Form-items__rank__box', placeholder: '2位を入力'
        .Form-items__rank
          .Form-items__rank__name
            3位を入力してください
          = f.text_field :rank3, class: 'Form-items__rank__box', placeholder: '3位を入力'
        .Form-items__image
          .Form-items__image__name
            背景にする画像を選択してください
          = f.label :image, class: 'Form-items__image__box' do
            = f.file_field :image
      = f.submit '投稿する', class: 'Send-btn'
      = link_to "戻る", root_path, class: "Return-btn"