.Contents
  .Header
    .Title
      = link_to root_path do
        %spanなんでもランキング
  .Container
    .Send-title
      ユーザー編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .Form-items
        .Form-items__item
          .Form-items__item__name
            ユーザー名を入力してください
          = f.text_field :name, autofocus: true, class: 'Form-items__item__box', placeholder: 'タイトルを入力'
        .Form-items__item
          .Form-items__item__name
            メールアドレスを入力してください
          = f.email_field :email, class: 'Form-items__item__box', autocomplete: "email", placeholder: 'メールアドレスを入力'
      = f.submit '更新する', class: 'Send-btn'
      = link_to "戻る", root_path, class: "Return-btn"