- if user_signed_in?
  - unless ranking.like_user(current_user.id).blank?
    = link_to ranking_like_path(ranking_id: ranking.id ,id: ranking.likes[0].id) do
      .vertical_like
        %i.material-icons.red-text favorite
        %span.red-text
          = ranking.likes_count
  - else
    = link_to ranking_likes_path(ranking.id), method: :ranking, remote: true do
      .vertical_like
        %i.material-icons.grey-text.text-darken-2 favorite_border
        %span.grey-text.text-darken-2
          = ranking.likes_count
- else
  - if ranking.likes_count > 0
    .vertical_like
      %i.material-icons.red-text favorite
      %span.red-text
        = ranking.likes_count
  - else
    .vertical_like
      %i.material-icons.grey-text.text-darken-2 favorite_border
      %span.grey-text.text-darken-2
        = ranking.likes_count
