.AccountPage
  .AccountPage__title
    .Title
      = link_to root_path do
        なんでもランキング
  .AccountPage__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .FormField
        .FormField__item
          .FormField__item__name
            メールアドレスを入力してください
          = f.email_field :email, class: 'FormField__item__box', autocomplete: "email", placeholder: 'メールアドレスを入力'
        .FormField__item
          .FormField__item__name
            パスワードを入力してください
          = f.password_field :password, class: 'FormField__item__box',autocomplete: "off", placeholder: 'パスワードを入力'
        .actions
          = f.submit "ログイン", class: 'Send-btn'
          = link_to "戻る", root_path, class: "Return-btn"
